html {
  display: flex;
  height: 100%;
}

body {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  background-color: #b6e0ff;
}

.CenterBlock {
  display: flex;
  background-color: #00111d;
  height: 536px;
  width: 640px;
  flex-shrink: 0;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}

.Title {
  margin-top: 50px;
  height: 48px;

  color: #b6e0ff;
  font-family: Fira Code;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex-shrink: 0;
  justify-self: flex-start;
}

.NewWork {
  display: flex;
  margin: 50px auto 20px auto;
  height: 60px;
  width: 388px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #253c4d;

  align-items: center;
  gap: 1%;
}

.input {
  background-color: #253c4d;
  color: white;
  height: 80%;
  width: 80%;
  border: none;
  outline: none;
}

.BtnAdd {
  margin: 10px;
  height: 25px;
  width: 25px;
  color: #b6e0ff;
  background-color: #253c4d;
  border-radius: 50px;
  border: 1px solid #b6e0ff;
}

.BtnAdd:hover {
  background-color: #1d303d;
  justify-self: flex-start;
}

.AddedWork {
  max-height: 240px;
  width: 388px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #253c4d;
  justify-self: flex-end;

  overflow: auto;
}

.CheckBtn {
  margin: 10px;
  height: 25px;
  width: 25px;
  color: #b6e0ff;
  background-color: #b6e0ff;
  border-radius: 50px;
  border: 1px solid #b6e0ff;
}

.Prepare {
  display: flex;
  border-top: 1px solid #b6e0ff;
  height: 60px;
  width: 388px;
  color: #fff;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  align-items: center;
  gap: 1%;
}

.Prepare:first-child {
  border-top: none;
}

.Done {
  display: flex;
  border-top: 1px solid #b6e0ff;
  height: 60px;
  width: 388px;
  color: rgba(182, 224, 255, 0.32);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: line-through;

  align-items: center;
  gap: 1%;
}

.Done:first-child {
  border-top: none;
}
